.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #055346;
  background-color: #f9efe6;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.75;
}

h1 {
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
}

h2 {
  letter-spacing: -.5px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  letter-spacing: -.5px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  letter-spacing: -.5px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
}

h5 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
}

h6 {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin-bottom: 16px;
}

a {
  color: rgba(5, 83, 70, .6);
  text-decoration: underline;
  transition: color .3s;
}

a:hover {
  color: #055346;
}

ul {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 40px;
}

ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

li {
  margin-bottom: 8px;
}

img {
  max-width: 100%;
  display: inline-block;
}

em {
  font-family: Libre Baskerville, sans-serif;
  font-style: italic;
}

blockquote {
  border-left: 6px solid rgba(5, 83, 70, .2);
  margin-bottom: 32px;
  padding: 8px 16px;
  font-family: Libre Baskerville, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5;
}

figure {
  margin-bottom: 10px;
}

.green {
  background-color: #055346;
}

.peach {
  background-color: #f3c395;
}

.beige {
  background-color: #f9efe6;
}

.white {
  background-color: #f9f9f9;
}

.heading.xl {
  font-size: 60px;
}

.heading.l {
  letter-spacing: -.5px;
  font-size: 48px;
  line-height: 1.2;
}

.heading.m {
  letter-spacing: -.5px;
  font-size: 40px;
  line-height: 1.2;
}

.heading.s {
  letter-spacing: -.5px;
  font-size: 32px;
  line-height: 1.3;
}

.heading.xs {
  font-size: 24px;
  line-height: 1.3;
}

.heading.xxs {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.heading.xxl {
  color: #f8cc1b;
  font-size: 44px;
}

.heading.l {
  color: #f8cc1b;
  letter-spacing: -.5px;
  font-size: 48px;
  line-height: 1.2;
}

.heading.l.no-margin {
  color: #fff;
}

.heading.s {
  color: #f8cc1b;
  letter-spacing: 0;
  font-size: 32px;
  line-height: 1.3;
}

.heading.xs {
  letter-spacing: 0;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 1.3;
}

.heading.xxs {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.heading.xl {
  font-size: 60px;
}

.section {
  padding-top: 104px;
  padding-bottom: 104px;
  position: relative;
}

.section.m {
  padding-top: 72px;
  padding-bottom: 72px;
}

.section.green {
  color: #f8cc1b;
  background-color: #f8cc1b;
}

.section.green.no-padding {
  background-color: #f8cc1b;
}

.section.xs {
  padding-top: 16px;
  padding-bottom: 16px;
}

.section.xs.green.text-light {
  background-color: #f8cc1b;
}

.section.texture {
  color: #f8cc1b;
  background-color: #f8cc1b;
}

.section.no-top-padding {
  justify-content: center;
  display: block;
}

.section.photo {
  min-height: 90vh;
  color: #f9efe6;
  background-image: linear-gradient(rgba(5, 83, 70, .8), rgba(5, 83, 70, .8)), url('../images/Callout-Photo.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  align-items: center;
  display: flex;
}

.section.l {
  padding-top: 144px;
  padding-bottom: 144px;
}

.section.l.small-top-padding {
  padding-top: 72px;
}

.container {
  width: 100%;
  max-width: 1280px;
  color: #f8cc1b;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
}

.container.wide {
  max-width: 1440px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.container.navigation {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.container.sg-container {
  min-height: 32px;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.callout {
  color: #f8cc1b;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, .35);
  border: 1px solid #f8cc1b;
  border-radius: 100vh;
  margin-bottom: 24px;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  display: inline-block;
}

.callout.dark {
  color: #055346;
  background-color: #f3c395;
}

.italic {
  font-family: Libre Baskerville, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.button-wrapper {
  z-index: 1;
  margin-top: 32px;
  text-decoration: none;
  position: relative;
}

.button-wrapper.primary.no-margin {
  color: rgba(255, 255, 255, .6);
  margin-top: 0;
}

.button-wrapper.small.no-margin {
  margin-top: 0;
}

.button {
  color: #f9efe6;
  background-color: #f8cc1b;
  padding: 16px 48px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  overflow: visible;
}

.button.secondary {
  color: #055346;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  margin: -8px;
  padding: 8px;
  font-size: 18px;
  display: flex;
}

.button.secondary.peach {
  color: #f3c395;
  background-color: rgba(0, 0, 0, 0);
}

.button.small {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
}

.button.small.peach.form {
  color: #000;
  border: 1px solid #fff;
  margin-bottom: 0;
  margin-left: -1px;
  padding: 0 20px;
  transition: background-color .3s, color .3s;
  display: none;
}

.button.small.peach.form:hover {
  color: #f3c395;
  background-color: rgba(0, 0, 0, 0);
}

.button.small.form {
  border: 0 solid rgba(0, 0, 0, 0);
  transition: color .3s, background-color .3s;
}

.button.small.form:hover {
  color: #055346;
  background-color: rgba(0, 0, 0, 0);
}

.button.peach {
  color: #055346;
  background-color: #fff;
}

.button-shadow {
  z-index: -1;
  color: #f8cc1b;
  border: 3px solid #f8cc1b;
  margin: 10px -10px -10px 10px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.button-shadow.small {
  margin: 8px -8px -8px 8px;
}

.button-shadow.peach {
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff;
}

.button-arrow {
  width: 50px;
  height: 50px;
  margin-right: -4px;
  position: relative;
}

.secondary-button-arrow {
  flex: 1;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.secondary-button-arrow.arrow {
  width: 50px;
  color: #f8cc1b;
  border: 0 solid #f8cc1b;
}

.nav-links {
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  color: #181509;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  font-size: 16px;
  line-height: 1.2;
  transition: transform .4s cubic-bezier(.165, .84, .44, 1), opacity .4s cubic-bezier(.165, .84, .44, 1), color .3s;
  display: inline-block;
}

.nav-link:hover {
  opacity: .6;
  color: #f8cc1b;
  transform: translate(0, -4px);
}

.nav-link.w--current {
  color: #f8cc1b;
}

.hamburger-line {
  width: 32px;
  height: 1px;
  background-color: #e5bdb4;
  position: absolute;
  top: 16px;
  bottom: auto;
  left: auto;
  right: 8px;
}

.hamburger-line.middle {
  width: 18px;
  top: 24px;
}

.hamburger-line.bottom {
  width: 24px;
  top: 32px;
}

.nav-bar {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 32px;
}

.nav-bar.green {
  background-color: #055346;
}

.nav-menu {
  flex: 1;
  align-items: center;
  display: flex;
}

.logo {
  width: 130px;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #f9efe6;
}

.paragraph {
  color: #181509;
  font-size: 18px;
}

.paragraph.s {
  color: #050505;
  font-size: 14px;
}

.text-box {
  max-width: 60ch;
}

.text-box.l {
  max-width: 75ch;
}

.text-box.m {
  max-width: 60ch;
}

.text-box.s {
  max-width: 45ch;
}

.sg-navigation {
  background-color: #055346;
}

.sg-navigation.sticky.top-0 {
  top: 0;
}

.sg-nav-link {
  color: rgba(249, 239, 230, .6);
  border-bottom: 3px solid #055346;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  transition: border-color .3s, opacity .3s;
}

.sg-nav-link:hover {
  color: #f9efe6;
}

.sg-nav-link.w--current {
  color: #f9efe6;
  border-bottom-color: #f3c395;
}

.sg-nav-menu {
  float: none;
  margin-left: -16px;
  margin-right: -16px;
}

.sg-label {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

.sg-block {
  flex-direction: column;
  margin-bottom: 40px;
}

.sg-intro-wrapper {
  margin-bottom: 40px;
}

.block-quote {
  border-left: 6px solid rgba(5, 83, 70, .2);
  margin-bottom: 32px;
  padding: 8px 16px;
  font-size: 20px;
  font-style: italic;
  line-height: 1.5;
}

.sg-section {
  padding-top: 72px;
  padding-bottom: 72px;
  position: relative;
}

.horizontal-rule {
  width: 100%;
  height: 1px;
  background-color: rgba(5, 83, 70, .2);
}

.sg-color-block {
  width: 100%;
  padding-top: 100%;
}

.sg-color-block.outline {
  border: 1px solid rgba(5, 83, 70, .2);
}

._12-columns {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
}

._12-columns.align-top {
  align-items: flex-start;
}

._12-columns.align-bottom {
  align-items: flex-end;
}

._12-columns.justify-left {
  justify-content: flex-start;
}

._12-columns.reverse {
  flex-direction: row-reverse;
}

._12-columns.align-stretch {
  align-items: stretch;
}

.column {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

.column.desktop-1 {
  width: 8.33%;
}

.column.desktop-2 {
  width: 16.66%;
}

.column.desktop-3 {
  width: 25%;
}

.column.desktop-3:nth-child(2n+1), .column.desktop-3:nth-child(2n) {
  margin-bottom: 32px;
}

.column.desktop-4 {
  width: 33.33%;
}

.column.desktop-5 {
  width: 41.67%;
}

.column.desktop-6 {
  width: 50%;
}

.column.desktop-6.mobile-12:nth-child(2n) {
  margin-top: 72px;
}

.column.desktop-6.tablet-8.mobile-12 {
  width: 90%;
}

.column.desktop-7 {
  width: 58.33%;
}

.column.desktop-8 {
  width: 66.67%;
}

.column.desktop-9 {
  width: 75%;
}

.column.desktop-10 {
  width: 83.33%;
}

.column.desktop-11 {
  width: 91.67%;
}

.column.desktop-12 {
  width: 100%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
}

.sticky.top-48 {
  top: 48px;
}

.sg-column {
  height: 40px;
  background-color: rgba(243, 195, 149, .5);
}

.grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
}

.grid.desktop-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid.desktop-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.sg-grid-column {
  width: 100%;
  height: 100px;
  background-color: rgba(243, 195, 149, .5);
}

._2-1-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
}

._1-2-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
}

.spacer, .spacer._8 {
  width: 8px;
  height: 8px;
}

.spacer._96 {
  width: 96px;
  height: 96px;
}

.spacer._88 {
  width: 88px;
  height: 88px;
}

.spacer._80 {
  width: 80px;
  height: 80px;
}

.spacer._72 {
  width: 72px;
  height: 72px;
}

.spacer._64 {
  width: 64px;
  height: 64px;
}

.spacer._56 {
  width: 56px;
  height: 56px;
}

.spacer._48 {
  width: 48px;
  height: 48px;
}

.spacer._40 {
  width: 40px;
  height: 40px;
}

.spacer._32 {
  width: 32px;
  height: 32px;
}

.spacer._24 {
  width: 24px;
  height: 24px;
}

.spacer._16 {
  width: 16px;
  height: 16px;
}

.light-peach {
  background-color: rgba(243, 195, 149, .5);
}

.form {
  margin-bottom: 8px;
}

.check-box {
  width: 20px;
  height: 20px;
  border-color: rgba(5, 83, 70, .5);
  border-radius: 0;
  margin-left: 0;
  margin-right: 12px;
}

.check-box.w--redirected-checked {
  background-color: #055346;
  background-position: 50%;
  background-size: 16px;
  border-color: #055346;
}

.form-error {
  background-color: #f9f9f9;
  margin-top: 16px;
  padding: 8px 16px;
  font-size: 16px;
}

.form-dropdown {
  height: 48px;
  color: rgba(5, 83, 70, .8);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(5, 83, 70, .2);
  margin-bottom: 16px;
  padding: 8px 18px;
  font-size: 16px;
}

.form-dropdown:focus {
  color: #055346;
  border-color: #055346;
}

.form-dropdown::-ms-input-placeholder {
  color: #999;
  font-size: 15px;
}

.form-dropdown::placeholder {
  color: #999;
  font-size: 15px;
}

.form-checkbox {
  margin-bottom: 16px;
  padding-left: 0;
}

.form-input {
  color: #055346;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(5, 83, 70, .2);
  margin-bottom: 8px;
  padding: 24px 20px;
  font-size: 16px;
}

.form-input:focus {
  border-color: #f3c395;
}

.form-input::-ms-input-placeholder {
  color: rgba(5, 83, 70, .8);
}

.form-input::placeholder {
  color: rgba(5, 83, 70, .8);
}

.form-input.text-area {
  max-width: 100%;
  min-height: 120px;
  min-width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 1.4em;
}

.form-input.light {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff;
  margin-bottom: 0;
  display: none;
}

.form-input.light:focus {
  border-color: #f3c395;
}

.form-input.light::-ms-input-placeholder {
  color: rgba(249, 239, 230, .7);
}

.form-input.light::placeholder {
  color: rgba(249, 239, 230, .7);
}

.radio-button {
  width: 20px;
  height: 20px;
  border-color: rgba(5, 83, 70, .5);
  margin-left: 0;
  margin-right: 12px;
}

.radio-button.w--redirected-checked {
  border-width: 4px;
  border-color: #055346;
}

.form-success {
  color: #f9f9f9;
  background-color: #055346;
  margin-top: 16px;
  padding: 32px 48px;
  font-size: 16px;
}

.form-success.footer {
  text-align: left;
  padding: 0;
}

.field-label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
}

.field-label.light {
  color: #f9efe6;
  display: none;
}

.form-radio-button {
  margin-bottom: 16px;
  padding-left: 0;
}

.field-block {
  z-index: 1;
  width: 100%;
  min-height: 20px;
  min-width: 50px;
  border: 1px solid rgba(0, 0, 0, 0);
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  margin-bottom: 8px;
  display: flex;
}

.vertical-tab {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
}

.tabs-menu {
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 32px;
  display: flex;
}

.tab-link {
  color: rgba(5, 83, 70, .4);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 4px solid rgba(5, 83, 70, .1);
  flex: 0 auto;
  margin-left: 0;
  margin-right: 0;
  padding: 16px 24px;
  font-size: 18px;
  transition: border-color .3s, color .3s;
}

.tab-link:hover {
  color: #055346;
}

.tab-link.w--current {
  color: #055346;
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: #055346;
}

.no-top-padding {
  padding-top: 0;
}

.background-texture {
  z-index: -1;
  height: 50vh;
  background-image: none;
  background-position: 0 0;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.photo-shadow {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(249, 249, 249, .7);
  position: absolute;
  top: 2%;
  bottom: auto;
  left: -5%;
  right: auto;
  transform: translate(24px, 62px)rotate(-3.6deg);
}

.photo-shadow.straight {
  background-color: #f9f9f9;
  position: absolute;
  top: 8px;
  left: 8px;
  transform: none;
}

.photo-shadow.reverse {
  transform: translate(24px, 62px)rotate(3.6deg);
}

.shape {
  z-index: 10;
  height: auto;
  position: absolute;
}

.shape.squiggle {
  width: 137px;
}

.shape.squiggle.top-right {
  top: 8%;
  bottom: auto;
  left: auto;
  right: -2%;
}

.shape.squiggle.bottom-left {
  top: auto;
  bottom: 12%;
  left: -3%;
  right: auto;
}

.shape.squiggle.bottom-left-image {
  top: auto;
  bottom: -1%;
  left: 3%;
  right: auto;
}

.shape.dots {
  width: 127px;
}

.shape.dots.bottom-left {
  top: auto;
  bottom: -7%;
  left: -23%;
  right: auto;
}

.shape.dots.top-right {
  top: 0%;
  bottom: auto;
  left: auto;
  right: -19%;
}

.shape.squiggles {
  width: 200px;
}

.shape.squiggles.top-right {
  top: 7%;
  bottom: auto;
  left: auto;
  right: -8%;
}

.photo-container {
  padding-top: 125%;
  position: relative;
}

.photo-container.menu-item {
  margin: 8px 8px 24px;
}

.photo {
  z-index: 2;
  object-fit: cover;
  position: relative;
}

.photo.tall {
  z-index: 2;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: -4%;
  right: 0%;
  transform: rotate(4.8deg);
}

.photo.tall.straight {
  width: 100%;
  margin-top: -8px;
  margin-left: -8px;
  left: 0%;
  transform: rotate(0);
}

.photo.tall.left {
  left: 20%;
  transform: rotate(-4.8deg);
}

.rotate-back {
  transform: rotate(-2deg);
}

.callout-box {
  color: #f9efe6;
  text-align: center;
  background-color: #055346;
  background-image: linear-gradient(rgba(5, 83, 70, .8), rgba(5, 83, 70, .8)), url('../images/bondi-restaurant-exterieur-1.webp');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 72px 48px;
  display: flex;
}

.callout-box.rotate {
  color: #f9f9f9;
  text-align: center;
  background-image: linear-gradient(rgba(5, 83, 70, .8), rgba(5, 83, 70, .8)), url('../images/bondi-restaurant-exterieur-1.webp');
  background-position: 0 0, 50%;
  transform: rotate(2deg);
}

.div-block {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.arrow {
  width: 74px;
  color: #f8cc1b;
}

.menu-link {
  width: 100%;
  color: #055346;
  text-decoration: none;
}

.heading-wrapper {
  margin-bottom: -16px;
}

.icon {
  width: 48px;
  margin-bottom: 24px;
}

.icon.licenses {
  width: 60px;
  margin-left: 16px;
  margin-right: 16px;
}

.image-gallery {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.gallery-photo {
  width: 23.5%;
  object-fit: cover;
}

.footer-cta {
  justify-content: space-between;
  align-items: center;
  padding-top: 72px;
  padding-bottom: 72px;
  display: flex;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: rgba(5, 83, 70, .1);
  margin-top: 32px;
  margin-bottom: 32px;
}

.horizontal-line.light {
  background-color: rgba(249, 239, 230, .2);
}

.horizontal-line.light.no-margin {
  background-color: rgba(249, 239, 230, .96);
  margin-top: 0;
  margin-bottom: 0;
}

.social-links {
  margin-left: -8px;
  margin-right: -8px;
}

.horizontal-form {
  display: flex;
}

.social-link {
  margin-left: 4px;
  margin-right: 4px;
  padding: 4px;
  transition: transform .3s, opacity .3s;
}

.social-link:hover {
  opacity: .6;
  transform: translate(0, -4px);
}

.footer-form {
  margin-top: 40px;
  margin-bottom: 0;
}

.footer-links {
  flex-direction: column;
  align-items: flex-start;
  margin: -8px;
  display: flex;
}

.footer-link {
  color: #f9efe6;
  margin-bottom: 8px;
  padding: 8px;
  font-weight: 400;
  text-decoration: none;
  transition: transform .4s cubic-bezier(.165, .84, .44, 1), opacity .4s cubic-bezier(.165, .84, .44, 1);
}

.footer-link:hover {
  opacity: .6;
  color: #f9efe6;
  transform: translate(4px);
}

.link-white {
  color: rgba(249, 239, 230, .6);
}

.link-white:hover {
  color: #f9efe6;
}

.footer-logo {
  width: 130px;
}

.menu-category {
  border-bottom: 1px solid rgba(5, 83, 70, .2);
  margin-bottom: 64px;
  padding-bottom: 80px;
}

.menu-category:last-child {
  border-bottom-style: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.menu-headline-wrapper {
  margin-bottom: 32px;
}

.image-wrapper {
  width: 100%;
  height: 400px;
}

.menu-item-wrapper {
  border-bottom: 1px solid rgba(5, 83, 70, .2);
  margin-bottom: 24px;
  padding-bottom: 8px;
  display: flex;
}

.menu-item-wrapper:last-child {
  border-bottom-style: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.menu-items {
  padding-top: 24px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-item-left {
  flex: 1;
}

.menu-item-right {
  flex: 0 20%;
  padding-left: 32px;
}

.menu-item-price {
  text-align: right;
}

.menu-item-price.text-center {
  text-align: center;
}

.schedule-card {
  height: 100%;
  text-align: center;
  border: 1px solid rgba(5, 83, 70, .2);
  margin-bottom: 32px;
}

.location {
  margin-bottom: 0;
  display: none;
}

.location.large {
  font-size: 20px;
}

.address {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.5;
}

.schedule-callout-text {
  letter-spacing: 0;
  text-transform: none;
  margin-right: 4px;
  font-size: 14px;
  font-weight: 500;
}

.schedule-callout {
  color: #055346;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #f8cc1b;
  border-radius: 100vh;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 0;
  padding: 8px 20px 8px 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  display: flex;
}

.schedule-date-wrapper {
  border-bottom: 1px solid rgba(5, 83, 70, .2);
  padding-top: 12px;
  display: none;
}

.schedule-content-wrapper {
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
}

.schedule-content-wrapper.no-top-padding {
  padding-top: 0;
}

.date {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  display: none;
}

.schedule-link-horizontal {
  color: rgba(249, 249, 249, .7);
}

.schedule-link-horizontal:hover {
  color: #f9f9f9;
}

.schedule-link-horizontal.static:hover {
  color: rgba(249, 249, 249, .7);
}

.schedule-wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.quote {
  color: #f8cc1b;
  letter-spacing: -.5px;
  font-size: 48px;
  line-height: 1.2;
}

.quote-name {
  color: #f8cc1b;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.contact-wrapper {
  background-color: rgba(249, 249, 249, .75);
  padding: 56px;
}

.contact-item {
  margin-top: 32px;
}

.contact-subhead {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
}

.catering-form {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.utility-page-wrap {
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  padding-top: 144px;
  padding-bottom: 144px;
  display: flex;
}

.utility-page-content {
  width: 55%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.sg-container-inside {
  min-height: 72px;
  background-color: rgba(249, 249, 249, .3);
  border: 1px dashed rgba(5, 83, 70, .5);
  border-style: dashed none;
}

.sg-container-inside.left-right {
  border-style: none dashed;
}

.sg-container-inside.left-right-bottom {
  border-style: none dashed dashed;
}

.rich-text h4, .rich-text h3, .rich-text h2, .rich-text h1, .rich-text h5, .rich-text h6, .rich-text blockquote, .rich-text figure {
  margin-top: 32px;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.faq-item {
  width: 100%;
  color: #055346;
  cursor: pointer;
  border-bottom: 1px solid rgba(5, 83, 70, .2);
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  text-decoration: none;
}

.question {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  display: flex;
}

.answer {
  padding-right: 32px;
  display: block;
  overflow: hidden;
}

.question-heading {
  font-size: 22px;
  line-height: 1.2;
}

.question-icon {
  width: 16px;
  opacity: .5;
}

.icon-wrapper {
  width: 100%;
  height: 400px;
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cl-item {
  border-top: 1px solid rgba(5, 83, 70, .2);
  border-bottom: 1px solid rgba(5, 83, 70, .2);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 32px 16px;
  display: flex;
}

.cl-heading-wrapper {
  align-items: baseline;
  display: flex;
}

.cl-date {
  margin-left: 8px;
  font-size: 16px;
}

.cl-text-wrapper {
  width: 50%;
}

.text-block {
  color: #f8cc1b;
}

.section-2 {
  color: #f8cc1b;
  background-color: #f8cc1b;
}

.body {
  color: #f8cc1b;
  background-color: #f2f2f2;
}

.text-block-2 {
  color: #000;
}

.body-2, .body-3, .body-4, .body-5, .body-6, .body-7, .body-8, .body-9 {
  background-color: #f2f2f2;
}

.body-10 {
  color: #f2f2f2;
  background-color: #f2f2f2;
}

.body-11, .body-12 {
  background-color: #f2f2f2;
}

.link-block {
  display: none;
}

.link, .link-2, .link-3 {
  color: rgba(75, 77, 11, .6);
  -webkit-text-stroke-color: rgba(75, 77, 11, .6);
}

.text-block-3 {
  color: #f8cc1b;
}

.image-2 {
  display: none;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 20px;
  }

  h6, p {
    font-size: 16px;
  }

  ul {
    padding-left: 32px;
  }

  .heading.m {
    font-size: 32px;
  }

  .heading.xxl {
    font-size: 35px;
  }

  .heading.l {
    font-size: 40px;
  }

  .heading.s {
    font-size: 26px;
  }

  .heading.xs {
    font-size: 20px;
  }

  .heading.xxs {
    font-size: 16px;
  }

  .heading.xl {
    font-size: 48px;
  }

  .section {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .section.m {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section.no-top-padding {
    padding-top: 0;
  }

  .section.photo {
    min-height: 500px;
  }

  .section.l {
    padding-top: 104px;
    padding-bottom: 104px;
  }

  .section.l.small-top-padding {
    padding-top: 0;
    padding-bottom: 72px;
  }

  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .callout {
    font-size: 12px;
  }

  .button-wrapper.primary, .button-wrapper.secondary {
    margin-top: 24px;
  }

  .button {
    font-size: 18px;
  }

  .button.small.peach.form:hover {
    color: #055346;
    background-color: #f3c395;
  }

  .menu-button {
    z-index: 999;
    width: 50px;
    height: 48px;
    justify-content: center;
    align-items: center;
    margin-right: -8px;
    padding: 0 8px;
  }

  .menu-button.w--open {
    color: #055346;
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-link {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 18px;
  }

  .nav-link:hover {
    opacity: 1;
    transform: translate(0);
  }

  .hamburger-line {
    height: 2px;
    background-color: #055346;
  }

  .nav-menu {
    width: 100%;
    height: 100vh;
    background-color: #f9efe6;
    padding-top: 96px;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .logo {
    z-index: 999;
  }

  .paragraph {
    color: #000;
    font-size: 16px;
  }

  .sg-section {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .column.desktop-1.tablet-0, .column.desktop-2.tablet-0 {
    display: none;
  }

  .column.desktop-4.tablet-6:nth-child(2n+1), .column.desktop-4.tablet-6:nth-child(2n) {
    margin-bottom: 32px;
  }

  .column.tablet-3 {
    width: 25%;
  }

  .column.tablet-4 {
    width: 33.33%;
  }

  .column.tablet-6 {
    width: 50%;
  }

  .column.tablet-8 {
    width: 66.67%;
  }

  .column.tablet-12 {
    width: 100%;
  }

  .column.tablet-0 {
    width: 0%;
  }

  .column.tablet-1 {
    width: 8.33%;
  }

  .column.tablet-2 {
    width: 16.66%;
  }

  .column.tablet-5 {
    width: 41.67%;
  }

  .column.tablet-7 {
    width: 58.33%;
  }

  .column.tablet-9 {
    width: 75%;
  }

  .column.tablet-10 {
    width: 83.33%;
  }

  .column.tablet-11 {
    width: 91.67%;
  }

  .sticky {
    position: static;
  }

  .grid, ._2-1-grid, ._1-2-grid {
    margin-left: 0;
  }

  .spacer._24._0 {
    width: 0;
    height: 0;
  }

  .photo-shadow {
    transform: translate(0, 24px)rotate(-2deg);
  }

  .photo-shadow.reverse {
    transform: translate(28px, 24px)rotate(2deg);
  }

  .shape.squiggle.top-right {
    width: 90px;
  }

  .shape.squiggle.bottom-left {
    display: none;
    left: -1%;
  }

  .shape.squiggle.bottom-left-image {
    width: 90px;
    left: 6%;
  }

  .shape.dots.bottom-left {
    width: 90px;
    bottom: -7%;
    left: -22%;
  }

  .shape.dots.top-right {
    width: 90px;
    top: 2%;
    right: -14%;
  }

  .shape.squiggles.top-right {
    display: none;
    top: 4%;
    right: -2%;
  }

  .photo.tall {
    transform: rotate(2deg);
  }

  .photo.tall.left {
    transform: rotate(-2deg);
  }

  .callout-box.rotate {
    padding-top: 64px;
    padding-bottom: 46px;
  }

  .footer-cta {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .social-link:hover {
    opacity: 1;
    transform: translate(0);
  }

  .footer-form {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .footer-link:hover {
    opacity: 1;
    transform: translate(0);
  }

  .link-white:hover {
    color: rgba(249, 239, 230, .6);
  }

  .menu-category-wrapper {
    margin-top: 40px;
  }

  .menu-category {
    margin-bottom: 48px;
    padding-bottom: 72px;
  }

  .menu-headline-wrapper {
    margin-bottom: 16px;
  }

  .image-wrapper {
    height: 470px;
  }

  .menu-item-price {
    font-size: 16px;
  }

  .schedule-callout {
    font-size: 12px;
  }

  .quote {
    font-size: 40px;
  }

  .quote-name {
    font-size: 16px;
  }

  .contact-wrapper {
    padding: 40px;
  }

  .utility-page-wrap {
    min-height: auto;
    padding-top: 104px;
    padding-bottom: 104px;
  }

  .utility-page-content {
    width: 100%;
  }

  .rich-text p {
    font-size: 16px;
  }

  .icon-wrapper {
    height: 470px;
  }

  .text-block-3 {
    color: #f8cc1b;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 25px;
  }

  .heading.m {
    font-size: 28px;
  }

  .heading.s {
    font-size: 26px;
  }

  .heading.xxl {
    font-size: 52px;
  }

  .heading.l {
    font-size: 36px;
  }

  .heading.s {
    font-size: 24px;
  }

  .heading.xl {
    font-size: 44px;
  }

  .section, .section.m {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .section.photo {
    min-height: 400px;
  }

  .section.l {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .section.l.small-top-padding {
    padding-bottom: 48px;
  }

  .container.wide {
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .button-wrapper, .button-wrapper.primary, .button-wrapper.secondary {
    margin-top: 16px;
  }

  .button {
    padding: 12px 28px;
  }

  .button.small {
    font-size: 14px;
  }

  .button-arrow {
    width: 46px;
    height: 46px;
  }

  .logo {
    padding-left: 0;
  }

  .paragraph.s {
    margin-bottom: 8px;
  }

  .sg-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  ._12-columns.mobile-text-center {
    text-align: center;
  }

  ._12-columns.reverse {
    flex-direction: column-reverse;
  }

  .column.desktop-3.tablet-6.mobile-12:nth-child(2n+1), .column.desktop-3.tablet-6.mobile-12:nth-child(2n), .column.desktop-4.mobile-12 {
    margin-bottom: 24px;
  }

  .column.desktop-6.mobile-12:nth-child(2n+1) {
    margin-bottom: 40px;
  }

  .column.desktop-6.mobile-12:nth-child(2n) {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .column.desktop-6.mobile-12:last-child {
    margin-bottom: 0;
  }

  .column.desktop-7.mobile-12 {
    margin-bottom: 24px;
  }

  .column.mobile-12 {
    width: 100%;
  }

  .column.mobile-0 {
    width: 0%;
  }

  .column.mobile-1 {
    width: 8.33%;
  }

  .column.mobile-2 {
    width: 16.66%;
  }

  .column.mobile-3 {
    width: 25%;
  }

  .column.mobile-4 {
    width: 33.33%;
  }

  .column.mobile-5 {
    width: 41.67%;
  }

  .column.mobile-6 {
    width: 50%;
  }

  .column.mobile-7 {
    width: 58.33%;
  }

  .column.mobile-8 {
    width: 66.67%;
  }

  .column.mobile-9 {
    width: 75%;
  }

  .column.mobile-10 {
    width: 83.33%;
  }

  .column.mobile-11 {
    width: 91.67%;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
  }

  .grid.desktop-4.tablet-4 {
    grid-template-columns: 1fr 1fr;
  }

  .grid.desktop-3.tablet-3, .grid.desktop-2.tablet-2 {
    grid-template-columns: 1fr;
  }

  ._2-1-grid, ._1-2-grid {
    grid-template-columns: 2fr;
    margin-left: 0;
  }

  .spacer._32._0 {
    width: 0;
    height: 0;
  }

  .field-block {
    min-height: auto;
  }

  .tabs-menu {
    flex-wrap: wrap;
  }

  .tab-link {
    border-bottom-width: 3px;
    padding: 8px 20px;
  }

  .photo-shadow {
    transform: translate(0, 24px)rotate(2deg);
  }

  .shape.squiggle.top-right, .shape.squiggle.bottom-left-image, .shape.dots.bottom-left, .shape.dots.top-right {
    display: none;
  }

  .photo-container {
    margin-top: 48px;
    margin-bottom: 64px;
  }

  .photo.tall {
    left: 0%;
    transform: rotate(-2deg);
  }

  .photo.tall.left {
    left: 0%;
  }

  .rotate-back {
    transform: rotate(-1deg);
  }

  .callout-box.rotate {
    transform: rotate(1deg);
  }

  .arrow {
    width: 24px;
  }

  .icon {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .gallery-photo {
    width: 23%;
  }

  .social-links {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .footer-form {
    margin-bottom: 32px;
  }

  .footer-links {
    align-items: stretch;
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer-link {
    text-align: center;
  }

  .menu-category-wrapper {
    margin-top: 32px;
  }

  .footer-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .menu-category {
    border-bottom-style: none;
    margin-bottom: 40px;
    padding-bottom: 24px;
  }

  .image-wrapper {
    height: 320px;
  }

  .menu-items {
    text-align: left;
    padding-top: 0;
  }

  .schedule-card {
    margin-bottom: 24px;
  }

  .quote {
    font-size: 32px;
  }

  .quote-name {
    font-size: 14px;
  }

  .contact-wrapper {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    display: flex;
  }

  .utility-page-wrap {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .icon-wrapper {
    height: 320px;
  }

  .cl-item {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  ul {
    padding-left: 16px;
  }

  ol {
    padding-left: 24px;
  }

  .heading.xxl {
    font-size: 34px;
  }

  .heading.l.no-margin {
    margin-bottom: 16px;
  }

  .section, .section.m {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.texture {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .section.l.small-top-padding {
    padding-bottom: 40px;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .callout {
    margin-bottom: 16px;
  }

  .hamburger-line, .hamburger-line.middle, .hamburger-line.bottom {
    background-color: #f8cc1b;
  }

  .nav-bar {
    padding-top: 16px;
  }

  .nav-menu {
    flex-direction: column;
  }

  .logo {
    width: 120px;
  }

  .sg-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .form-input {
    width: 100%;
  }

  .field-label.light {
    text-align: center;
  }

  .photo-shadow, .photo-shadow.reverse {
    transform: translate(8px, 16px)rotate(1deg);
  }

  .photo-container {
    margin-top: 40px;
    margin-bottom: 48px;
  }

  .callout-box {
    padding: 48px 40px;
  }

  .footer-cta {
    flex-direction: column;
  }

  .menu-category {
    margin-bottom: 32px;
    padding-bottom: 16px;
  }

  .image-wrapper {
    height: 210px;
  }

  .menu-item-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-item-right {
    margin-top: -8px;
    padding-left: 0;
  }

  .schedule-callout {
    margin-bottom: 16px;
  }

  .contact-item {
    margin-top: 24px;
  }

  .icon-wrapper {
    height: 210px;
  }

  .cl-item {
    padding: 16px 16px 8px;
  }

  .cl-heading-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .cl-date {
    margin-bottom: 8px;
    margin-left: 0;
  }
}

#w-node-_17343c4a-5722-f067-502e-1ea9c01374c1-f3fe2cf1, #w-node-a7428c8a-ffae-e5ae-8056-a9b80b9cee75-f3fe2cf1, #w-node-_4e2cf897-731e-28c8-fb19-3d5adfd50661-f3fe2cf1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


